<div class="card !mb-8">
    <div class="card-header">
        <div class="flex items-center justify-between">
            <h1 class="font-semibold text-xl mb-0">Personas</h1>
            <div>
                <p-button label="Nuevo" icon="pi pi-plus" severity="success" class="mr-2" (click)="openNew()" />
                <p-button label="Exportar" icon="pi pi-upload" severity="secondary" (click)="exportCSV()" />
            </div>
        </div>
        <hr>
    </div>

    <div class="card-body">

        <div class="flex w-full items-center flex-wrap justify-between py-3">
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..." />
            </p-iconfield>

            <p-button severity="danger" label="Eliminar" icon="pi pi-trash" outlined (click)="deleteSelectedPersonas()"
                [disabled]="!selectedPersonas?.length" />
        </div>

        <p-table #dt [value]="personas()" [paginator]="true" [rows]="10" [tableStyle]="{ 'min-width': '60rem' }"
            [rowHover]="true" [rowsPerPageOptions]="[10, 20, 30]" [globalFilterFields]="['nombre', 'path']"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} personas"
            [(selection)]="selectedPersonas" dataKey="id">

            <ng-template #header>
                <tr>
                    <th style="width: 3rem">
                        <p-tableHeaderCheckbox />
                    </th>
                    <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre" /></th>
                    <th>Personas</th>
                </tr>
            </ng-template>

            <ng-template #body let-persona>
                <tr>
                    <td><p-tableCheckbox [value]="persona" /></td>
                    <td>{{ persona.nombre }}</td>
                    <td>
                        <p-button icon="pi pi-pencil" severity="info" rounded outlined class="mr-2"
                            (click)="openEdit(persona)" />
                        <p-button icon="pi pi-trash" severity="danger" rounded outlined
                            (click)="deletePersona(persona)" />
                    </td>
                </tr>
            </ng-template>
        </p-table>

    </div>
</div>

<p-dialog [(visible)]="personaDialog" [style]="{ width: '750px' }" header="Detalle de Persona" [modal]="true" [draggable]="false">
  <ng-template #content>
    <form [formGroup]="form">
      <div class="flex flex-col gap-6">


        <!-- Nombre -->
        <div>
          <label for="nombre" class="block font-bold mb-2">Nombre</label>
          <input id="nombre" type="text" class="w-full" pInputText formControlName="nombre" />
          <small class="text-red-500" *ngIf="submitted && form.get('nombre')?.invalid">
            El nombre es obligatorio.
          </small>
        </div>

        <!-- Apellido -->
        <div>
          <label for="apellido" class="block font-bold mb-2">Apellido</label>
          <input id="apellido" type="text" class="w-full" pInputText formControlName="apellido" />
          <small class="text-red-500" *ngIf="submitted && form.get('apellido')?.invalid">
            El apellido es obligatorio.
          </small>
        </div>

         <!-- Tipo de Documento -->
        <div>
          <label for="idTipoDocumentoIdentidad" class="block font-bold mb-2">Tipo de Documento</label>
          <p-dropdown
            id="idTipoDocumentoIdentidad"
            formControlName="idTipoDocumentoIdentidad"
            [options]="tipoDocumentos"
            optionLabel="nombre"
            optionValue="id"
            placeholder="Seleccione un Tipo de Documento"
            class="w-full" />
          <small class="text-red-500" *ngIf="submitted && form.get('idTipoDocumentoIdentidad')?.invalid">
            El tipo de documento es obligatorio.
          </small>
        </div>
        
        <!-- Documento de Identidad -->
        <div>
          <label for="documentoIdentidad" class="block font-bold mb-2">Documento de Identidad</label>
          <input id="documentoIdentidad" type="text" class="w-full" pInputText formControlName="documentoIdentidad" />
          <small class="text-red-500" *ngIf="submitted && form.get('documentoIdentidad')?.invalid">
            El documento de identidad es obligatorio.
          </small>
        </div>

        <!-- Fecha de Nacimiento -->
        <div>
          <label for="fechaNacimiento" class="block font-bold mb-2">Fecha de Nacimiento</label>
        <p-datepicker
  [showIcon]="true"
  [showButtonBar]="true"
  formControlName="fechaNacimiento">
</p-datepicker>
          <small class="text-red-500" *ngIf="submitted && form.get('fechaNacimiento')?.invalid">
            La fecha de nacimiento es obligatoria.
          </small>
        </div>


      </div>
    </form>
  </ng-template>
</p-dialog>

<p-toast position="top-right"></p-toast>
<p-confirmdialog [style]="{ width: '450px' }" />


<app-loading-overlay [loading]="(loading$ | async) ?? false" />
